@page "/weather"
@attribute [StreamRendering]

@using Microsoft.AspNetCore.SignalR.Client;
@using DTO;

<PageTitle>Home</PageTitle>

<h1> AvailableBooksCount: </h1>

<p> @TotalCount </p>
@code {
    private HubConnection? hubConnection;
    List<BookDTO> books = new();
    int TotalCount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
                            .WithUrl("http://localhost:5006/BooksInfoHub")
                            .WithAutomaticReconnect()
                            .Build();
        hubConnection.On<LibraryData>("onRecieveStatistics", (str) =>
        {
            books.AddRange(str.Books);
            Console.WriteLine(str);
            UpdateTotalCount(str.TotalBooksCount);
            ShouldRender();
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    private void UpdateTotalCount(int val)
    {
        TotalCount = val;
    }

}
