@using Client.DTO
@code {
    [Parameter]
    public BookDTO Book { get; set; }

}

<div class="book-info">
    <h3>@Book.Name</h3>
    <p><strong>Дата обновления: </strong> @Book.UpdateTime.ToString("MM/dd/yyyy HH:mm:ss")</p>
    <p><strong></strong> @(Book.IsAvailable ? "Доступна" : "Нет в наличии")</p>
</div>

<style>
    .book-info {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        width: 600px;
    }

    h3 {
        color: #2c3e50;
    }
</style>